@import './sidebar.css';
@import './dashboard.css';
@import './students.css';
@import './teachers.css';
@import './classes.css';
@import './sections.css';
@import './subjects.css';
@import './student.css';
@import './navbar.css';
@import './admin.css';
@import './responsive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.teacher-assignment select,
.teacher-assignment select option,
select.form-control option {
    color: #000 !important;
    background-color: #fff !important;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main {
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: calc(100% - 270px);
}

.content {
    flex: 1;
    padding: 30px;
}

footer {
    margin-top: auto;
}